@use '../abstracts/variables.scss' as *;

.intro {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary__background--color;
    overflow: hidden;

    &__background {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;

        &--image {
            position: absolute;
            bottom: 2rem;
            left: 0rem;
            object-fit: contain;
            pointer-events: none;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 2;

        &--subheading {
            font-family: 'almarai', sans-serif;
            font-weight: 400;
            font-size: 3rem;
            color: white;
            margin: 0;
            align-self: flex-start;
        }

        &--heading {
            font-family: 'redrose', sans-serif;
            font-weight: 700;
            font-size: 8.75rem;
            color: white;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }

    &--button {
        position: relative;
        height: 6.125rem;
        width: 15.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem 2rem;
        font-family: 'redrose', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        color: black;
        background-color: #F0EA6E;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

        &--icon {
            width: 2.75rem;
            height: 2rem;
            transition: transform 0.3s ease-in-out;
        }

        &--arrow {
            width: 2rem;
            height: 2rem;
            transform: translateZ(0); 
            transition: transform 0.3s ease-in-out, -webkit-stroke-width 0.3s ease;
        }

        &:hover {
            transform: scale(1.06);

            .intro--button--icon {
                transform: scale(1.1) rotate(-30deg);
            }

            .intro--button--arrow {
                transform: scale(1.15) translateX(6px);
                -webkit-stroke-width: 1.5px;
                stroke-width: 1.5px;
                stroke: black;
            }
        }
    }
}