@use './vendors/normalize.scss';
@use './pages/_intro.scss';
@use './pages/_settings.scss';
@use './pages/_board.scss';
@use './pages/_game-over.scss';
@use './pages/_result.scss';

@font-face {
    font-family: 'almarai';
    src: url('./fonts/Almarai/Almarai-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'redrose';
    src: url('./fonts/Red_Rose/RedRose-VariableFont_wght.ttf') format('truetype');
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #303131; 
}

#intro,
#settings,
#board,
#game-over,
#result {
  display: none !important;
}

#intro.is-active {
  display: flex !important;
}

#settings.is-active {
  display: block !important;
}

#board.is-active,
#game-over.is-active,
#result.is-active {
  display: flex !important;
}